/*
   Sprint Poker Game - A virtual poker game for agile development teams.
   Copyright (C) 2024 Viacheslav Domnin

   This program is free software; you can redistribute it and/or
   modify it under the terms of the GNU General Public License
   as published by the Free Software Foundation; either version 2
   of the License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/



body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    color: #333;
    margin: 0;
    padding: 20px;
}

.planning-table {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.story, .votes, .player-area {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
}

.vote-options, .vote-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.vote-button, .card {
    width: 100px; /* Updated size */
    height: 140px; /* Updated size */
    font-size: 24px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border: 1px solid #d1d1d1;
}



.vote-button {
    background-color: #f9f9f9;
    color: #007bff;
    cursor: pointer;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 50%, #f0f0f0 50%, #f0f0f0 75%, transparent 75%, transparent);
    background-size: 28px 28px;
}

.vote-button:hover {
    background-color: #ececec;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}






.card {
    perspective: 1000px;
    border-radius: 10px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    border-radius: 10px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 28px 28px;
    white-space: pre-wrap; 
    text-align: center; /* Center text lines */
}

.card-front {
    background-color: #f9f9f9;
    color: #007bff;
    background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 50%, #f0f0f0 50%, #f0f0f0 75%, transparent 75%, transparent);
}

.card-back {
    background-color: #4CAF50;
    color: white;
    transform: rotateY(180deg);
    background-image: linear-gradient(45deg, #4CAF50 25%, transparent 25%, transparent 50%, #4CAF50 50%, #4CAF50 75%, transparent 75%, transparent);
}

.card-selected .card-front, .card-highlighted .card-front {
    background-image: linear-gradient(45deg, rgba(255,255,255,0.1) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 75%, transparent 75%, transparent);
}

.card-selected .card-front {
    background-color: darkgray;
}

.card-highlighted .card-front {
    background-color: #9a7b30; /* Dark yellow */
}

#revealVotes {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#revealVotes:hover, #revealVotes:active {
    background-color: #0056b3;
}


.card-selected {
    border-color: #007bff; /* Highlight border for selected card */
    background-color: darkgray; /* Dark gray background for selected state */
}

.card-highlighted {
    background-color: #9a7b30; /* Dark yellow for highlighted state, keeping pattern */
    background-image: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, transparent 75%, transparent); /* Maintain pattern */
}












.username-area {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center */
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: fit-content;
}

.username-area h3 {
    margin: 0;
    color: #333;
    font-size: 18px;
}

#usernameDisplay, #usernameInput {
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Adjust based on your preference */
}

#usernameDisplay {
    background: none;
    border: none;
    cursor: pointer;
}

#usernameInput {
    display: none; /* Initially hidden */
}

button {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003885;
}

#saveUsernameBtn {
    display: none; /* Initially hidden */
    background-color: #28a745;
}

#saveUsernameBtn:hover {
    background-color: #218838;
}

#editUsernameBtn, #saveUsernameBtn {
    align-self: flex-end; /* Align buttons to the end of the flex container */
}





#revealVotes, #averageVote {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing as needed */
}

#averageVote {
    vertical-align: middle; /* Align with the button if desired */
}






@media (max-width: 1000px) {
    .planning-table {
        margin: 5px auto; /* Reduced margin */
        padding: 5px; /* Reduced padding */
        max-width: 100%; /* Use the full width */
        box-shadow: none; /* Optional: remove shadow for a flatter design */
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #e8e8e8;
        color: #333;
        margin: 0;
        padding: 7px;
    } 
    .vote-button, .card {
        width: 80px; /* Updated size */
        height: 100px; /* Updated size */
        font-size: 18px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        border: 1px solid #d1d1d1;
    }

    .vote-button {
        background-color: #f9f9f9;
        color: #007bff;
        cursor: pointer;
        padding: 14px;
        box-shadow: none;
    }

    .vote-button:hover {
        border-color: #007bff; /* Highlight border for selected card */
        background-color: darkgray; /* Dark gray background for selected state */
    }

    .vote-options, .vote-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        justify-content: center;
    }

    .story, .votes, .player-area {
        padding-bottom: 3px;
        margin-bottom: 3px;
        border-bottom: 2px solid #eeeeee;
    }



    .username-area {
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items in the center */
        background: #f5f5f5;
        padding: 3px;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
        width: fit-content;
    }
    
    h3 {
        margin: 10px;
        color: #333;
        font-size: 17px;
    }
    
    #usernameDisplay, #usernameInput {
        font-size: 15px;
        margin-top: 5px;
        padding: 3px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px; /* Adjust based on your preference */
    }
    
    #usernameDisplay {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    #usernameInput {
        display: none; /* Initially hidden */
    }

    #usernameDisplay, #usernameInput {
        font-size: 15px;
        margin-top: 3px;
        padding: 3px;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px; /* Adjust based on your preference */
    }

    #revealVotes {
        padding: 5px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-top: 7px;
    }
    
}